{% extends "auctions/layout.html" %}

{% block body %}

<div class="container-fluid bg-body-tertiary">
    <h2 class="text-center mb-3">Active Listings</h2>
    <div class="row justify-content-center">
        {% for listing in listings %}
        <div class="col-sm-6 col-lg-3 mb-3">
            <a href="listing/{{listing.pk}}" class="text-decoration-none text-black">
                <div class="card  d-flex flex-column h-100 mb-3 shadow mx-auto" style="max-width: 18rem;">
                    <img src="{% if listing.image %}{{listing.image}}{% else %}https://fakeimg.pl/400x400{% endif %}"
                        class="card-img-top" alt="{{listing.title}}" height="250">
                    <div class="card-body bg-body-secondary d-flex flex-column">
                        <h5 class="card-title">{{listing.title}}</h5>
                        <p class="card-text">{{listing.description|truncatechars_html:100}}</p>
                        <div class="mt-auto">
                            {% if listing.current_bid %}
                            <p>Current Bid <span class="fw-bold">£{{ listing.current_bid.amount }}</span></p>
                            {% else %}
                            <p>Starting Bid <span class="fw-bold">£{{ listing.starting_bid }}</span></p>
                            {% endif %}
                            <p>Listed by {{listing.seller}}</p>
                            <p>Listed on {{listing.listed_at|date:"D d M Y"}}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}